<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title data-th-text="#{user.title}"></title>
</head>
<body>
<p><a data-th-href="@{/user}" href="#">Ver todos los usuario</a></p>
<p><a data-th-href="@{/user/1}" href="#">Ver Usuario 1</a></p>
<p><a data-th-href="@{/user/2}" href="#">Ver Usuario 2</a></p>
<p><a data-th-href="@{/user/3}" href="#">Ver Usuario 3</a></p>
<p><a data-th-href="@{/user/4}" href="#">Ver Usuario 4</a></p>
<p><a data-th-href="@{/user/create}" href="#">Crear Usuario</a> </p>
</body>
</html>